article {
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
	color: #fff;
	width: 95%;

	padding: 0 10px 2px 10px;
}

article .title {
	text-align: center;
}

article .image {
	width: 90%;
	margin: 0 auto;
	float: right;
	border-radius: 3px;
	margin-left: 5px;
}

article .artist:before {content: 'Artist: '; font-weight: bold;}
article .location:before {content: 'Location: '; font-weight: bold;}
article .start:before {content: 'Starting: '; font-weight: bold;}
article .artist:before {content: 'Artist: '; font-weight: bold;}

article a,
article a:link {
	text-decoration: none;
	color: #ba2700;
}

.numBt {
	width: 40%;
	height: 30px;
	font-size: 12pt;
	font-weight: bold;
	color: #fff;
	background-color: rgba(0,0,0,0.6);
	border-radius: 6px;
	border: 1px solid #161616;

	cursor: pointer;
}

.prev {float: left;}
.next {float: right;}