@import url(http://fonts.googleapis.com/css?family=Oldenburg|Open+Sans);
@import url("tooltip_sidebar.css");
@import url("location_sidebar.css");
@import url("artists_sidebar.css");
body {
    background-image: url('../img/bg.png');
}
#content {
	width: 300px;
	height: 600px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	background: url('../img/bg.png') no-repeat fixed center;
	border-radius: 7px;
    border: 3px solid white;
    padding-top: 10px;
	overflow: auto;
}

.wraper {
	width: 98%;
	margin: 0 auto;
}

#content header h1 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Oldenburg', cursive;
	font-size: 20pt;
}

#headerTop {display: none;}


.clear {
	clear: both;
}

.invisible {
	display: none;
}

#warnings {
	width: 80%;
	margin: 0 auto 20px auto;

	background-color: rgb(160, 101, 79);

	-moz-box-shadow:    -2px 2px 7px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow: -2px 2px 7px 3px rgba(0,0,0,0.4);
	box-shadow:         -2px 2px 7px 3px rgba(0,0,0,0.4);

	border-radius: 7px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;

	padding: 5px 20px 5px 20px;

	position: inherit;
	top: 40px;
	right: 5px;
}

#warnings p {margin: 0;  padding: 0;}