.divToolTip {
    width: 100%;
    margin: 0 auto;
    height: 200px;
    background: rgba(0,0,0,0.7);
    border: 1px solid black;
    border-radius: 3px;
    /*display: none;*/
}
.divToolTip div {
    float: left;
    color: green;
    font-family: 'Oldenburg', cursive;
    font-size: 13px;
}
.divToolTip .images {
    width: 25%;
    height: 100%;
    text-align: center;
    padding-top: 15px;
}
.divToolTip .infos {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding: 10px 0 0 0;
    text-align: center;
}
.divToolTip .images img {
   padding-top: 10px;
    width: 100px;
    height: 100px;
}
.divToolTip div span {
    color: white;
}

.widget {
    width: 200px;
    height: 600px;
    background: rgba(0,0,0,0.7);
    border: 1px solid black;
    border-radius: 3px;
    position: fixed;
    left: 50px;
    top: 30px;
    display: none;
}

.widget div {
    float: left;
    color: green;
    font-family: 'Oldenburg', cursive;
    font-size: 13px;
    text-align: center;
}
.widget .images {
    height: 175px;
}
.widget .images img {
    padding-top: 10px;
    width: 114px;
    height: 114px;
}
.widget .infos {
    width: 100%;
    height: 250px;
}
.widget div span {
    color: white;
}
.widget div span.title {
    color: green;
}

.widget a.close {
    float: right;
    top: 3px;
    right: 5px;
    position: relative;
    color: white;
    text-decoration: none;
}